<!-- Provide page-specific title -->
<% provide(:title, 'About') %>

<div class = "container-full">
	<div class="shadow-z-5">	
		<div class = "jumbotron-wrap">
			<h2> About</h2>
		</div>
	</div>	

	<div class="shadow-z-5">
		<div class = "jumbotron">	
			<div class = "CenterObjects">
				<div class = "text-center">
					<h2> Surviving Ryeng</h2>
				</div>
					</br></br><h4><p>Under construction</p></h4>
			</div>
		
		</div>
			
	</div>
</div>


