<!-- Provide page-specific title -->
<% provide(:title, 'Contact us') %>

<div class = "container-full">
	<div class="shadow-z-5">	
		<div class = "jumbotron-wrap">
			<h2>Contact Us</h2>

		</div>
	</div>	

	<div class="shadow-z-5">	
		<div class = "jumbotron-wrap">
			<h3>Member 1</h3>
			<h4><p> email: mail@mail.com</p>
			</h4>
		</div>
	</div>	

	<div class="shadow-z-5">	
		<div class = "jumbotron-wrap">
			<h3>Member 2</h3>
			<h4><p> email: mail@mail.com</p>
		</div>
	</div>	

	<div class="main-card">
			<h3>Member 3</h3>
			<h4><p> email: mail@mail.com</p>
		
	</div>	

	
</div>


