<!-- Provide page-specific title -->
<% provide(:title, 'Home') %>

<div class = "container-full">
	<div class="shadow-z-5">	
	<div class = "jumbotron">	

		<div class = "CenterObjects">

		<div class = "text-center"><h2> Surviving Ryeng</h2></div>
		</br></br><h4><p> Surviving Ryeng is an application designed for Ryerson Engineers, by Ryerson Engineers. With the concept of utilitzing a student orientated website, Surviving Ryeng aims to gather multiple student resources in an easy to access, and use website. Please click below to join up!</p>
		</h4>
		</div>
		<% unless user_signed_in? %>
		</br></br><div id = "logo_image">Image1</div>
		<!-- WHEN USER IS NOT LOGGED IN -->
		<div class = "push-to-bottom">
			<div class = "text-center">
				<%= link_to 'Sign up!', new_user_registration_path, class: 'btn btn-material-lightgreen' %><br>
				<p><h5>Already have an account?  <%= link_to 'Sign in', new_user_session_path %></h5></p>
			</div>


		<% else %>

		<!-- WHEN USER IS LOGGED IN -->

		Welcome to Surviving RyEng <%= ", #{current_user.username}" %> <br>
		<%= button_to 'Sign out', log_out_path, method: :delete %>

		<% end %>
		</div>
	</div>
</div>
</div>


