<!-- Provide page-specific title -->
<% provide(:title, 'Home') %>

<% unless user_signed_in? %>

<!-- WHEN USER IS NOT LOGGED IN -->

<%= link_to 'Sign up!', new_user_registration_path, class: 'btn btn-material-lightgreen' %><br>
<p>Already have an account?  <%= link_to 'Sign in', new_user_session_path %></p>


<% else %>

<!-- WHEN USER IS LOGGED IN -->

Welcome to Surviving RyEng <%= ", #{current_user.username}" %> <br>
<%= button_to 'Sign out', log_out_path, method: :delete %>

<% end %>
