<!-- Provide page-specific title -->
<% provide(:title, 'Home1') %>

Welcome to Surviving RyEng <%= ", #{current_user.username}" if user_signed_in? %>

<br>

<% if user_signed_in? %>
  <%= button_to 'Sign out', log_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up!', new_user_registration_path, class: 'btn btn-material-lightgreen' %>
  
    <br>  <p>Already have an account?  <%= link_to 'Sign in', new_user_session_path %></p>

<% end %>
