<div class="main-card">
  <h2>Users</h2>
  <div class="search-wrapper">
    <% if @users.any? %>
    <!-- COURSE RESULTS HERE -->
    <hr>
    <div class="u-pag">
      <center><%= paginate @users, param_name: 'upage', remote: true %></center>
    </div>
    <div id="search-users">
      <%= render 'shared/users', users: @users %>
    </div>
    <div class="u-pag">
      <center><%= paginate @users, param_name: 'upage', remote: true %></center>
    </div>
    <% else %> 
    <h4>No users found.</h4>
  <% end %>

  </div>
</div>