<h1>Courses you are currently taking</h1>

<% @enrollments.each do |e| %>
  <%= link_to e.course.course_code, course_path(course_code: e.course.course_code) %> 
  <%= link_to 'Remove', enrollment_path(e), method: :delete, class: 'btn' %>
  <br>
<% end %>