body{
  background-color: #07619F;
}

.container {
	margin-top: 70px;
	margin-left: 70px;
}

.main-card {
	padding: 10px;
	margin: 0 auto;
	border-radius: 3px;
	width: 80%;
	background-color: #4477aa;

	-webkit-box-shadow: 3px 6px 36px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 6px 36px 3px rgba(0,0,0,0.75);
	box-shadow: 3px 6px 36px 3px rgba(0,0,0,0.75);

	h2, p{
		padding: 20px;
		text-align: center;
	}

}