
	.panel-footer{
		position: fixed;
		bottom: 0;
		padding: 0;
		left : 0;
		width : 100%;
	}

	



	#logo_image{
		background-image:url(image_path('logo.png'));
		background-size:100%;		
		display:block;
		height:120px;
		width: 200px;
		overflow:hidden;
		text-indent:100%;
		margin-left:auto;
		margin-right:auto;
		
		white-space:nowrap;
	}

/********************** 
 * ADMIN FEED STYLING *
 **********************/

 //-- Beginning of Reports styling


 //-- End of Reports styling


 //-- Beginning of Unapproved Guides styling


 //-- End of Unapproved Guides styling

	
	
