<!-- <div class = "container-full">
 <div class="panel-footer">
   <div class ="row">
     <div class ="col-md-4">
       <div class = "text-center">
         
       </div>
     </div>
     <div class ="col-md-4">
       <div class = "text-center">     
        
       </div>
     </div>
     <div class ="col-md-4">
       <div class = "text-center">
      
       </div>
     </div>
   </div>
   
 </div>
</div> -->